html, body, #map {
	height: 100%;
	width: 100%;
}

body {
	margin:0px;
	padding-top:50px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

#divLegende {
	height: 300px;
	width: 300px;
	padding: 5px;
	position: fixed;
	z-index: 401;
	bottom: 0;
	left:0;
	background-color: white;
	overflow: scroll;

}

#divLegende ul {
	list-style-type:none;
}