html, body, #map {
	height: 100%;
	width: 100%;
}

body {
	margin:0px;
	padding-top:50px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

#legende {
	height: 300px;
	width: 300px;
	padding: 5px;
	position: fixed;
	bottom: 0;
	left:0;
	background-color: white;

}